{
  "extends": [
    "standard-with-typescript",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "warn"
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ]
}
